<div class="fondo">
  <section class="inicio">
    <div class="contenedor-src">
      <div class="contenedor-src-title">
        <h1>Nuestra tienda</h1>
      </div>
      <div class="contenedor-src-span">
        <p>
          Es obligatorio el uso de doble mascarilla al ingreso y durante tu
          permanencia en la tienda.
        </p>
      </div>
    </div>
  </section>
  <section class="inicio2">
    <div class="inicio2-hda">
      <h1>Horarios de atencion</h1>
    </div>
    <div class="inicio2-contenedorGEN">
      <div class="inicio2-contenedorGEN1">
        <h3>Perú - Ica, Av Ayabaca 777, Zzootec Ica</h3>
      </div>
      <div class="inicio2-contenedorGEN2">
        <h4>L-S 7:00 am a 9:00pm | Dom 8:00am a 8:00pm</h4>
      </div>
      <div class="frame">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d241.8823657697046!2d-75.7281331085825!3d-14.070217351327578!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9110e3f9a6fe52b3%3A0xc6591598ec98c246!2sCENTRO%20COMERCIAL%20ICA%20SHOPPING%20PLAZA!5e0!3m2!1ses-419!2spe!4v1663800677131!5m2!1ses-419!2spe"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="but">
        <button>
          <a
            href="https://www.google.com/maps?ll=-14.070286,-75.728028&z=21&t=m&hl=es-419&gl=PE&mapclient=embed&cid=14292478638985626182"
            >Ver desde google maps</a
          >
        </button>
      </div>
    </div>
  </section>
</div>
