<div class="fondo">
  <section class="inicio">
    <div class="contenedor">
      <img src="./assets/img/ico/nosotrosp1.png" />
      <div class="contenedor-txt">
        <h2 class="sep">Sobre Nosotros</h2>
        <span class="sep"
          >Somos una empresa que se dedica a la comercializacion de productos
          móviles y accesorios para el mismo, Zzootec se fundo en el año 2020
          con la finalidad de poder brindar productos de calidad y al mejor
          precio posible.</span
        >
      </div>
    </div>
  </section>
  <section class="inicio2">
    <div class="contenedor2">
      <div class="contenedor2-txt">
        <div class="contenedor2-txt-mision">
          <div class="contenedor2-txt-mision-title">
            <h2 class="ca">Misión</h2>
          </div>
          <div class="contenedor2-txt-mision-txt">
            <p class="ca">
              Zzootec tiene como misión "Ser reconocido en el año 2026 como una
              empresa lider en el mercado iqueño en la venta de celulares
              accesorios únicos"
            </p>
          </div>
          <div class="contenedor2-txt-mision-line">
            <hr class="cla ca" />
          </div>
        </div>
        <div class="contenedor2-txt-mision">
          <div class="contenedor2-txt-vision-title">
            <h2 class="ca">Visión</h2>
          </div>
          <div class="contenedor2-txt-vision-txt">
            <p class="ca">
              La empresa Zzootec indica lo siguiente: "Somos una empresa
              dedicada a la venta de celulares accesorioss. Nuestro compromiso
              es brindar un servicio de ssatisfacción al cliente con
              puntualidad, garantía confianza."
            </p>
          </div>
          <div class="contenedor2-txt-vision-line"></div>
          <hr class="cla" />
        </div>
      </div>
      <img src="./assets/img/ico/nosotros2.jpg" />
    </div>
  </section>
</div>
