<footer>
    <div class="row-footer">
      <div class="col-footer footer-logo">
        <div class="box-logo"></div>
        <img src="./assets/img/ico/logo.jpg" alt="logo" width="100" />
        <p>Somo más que un celular</p>
      </div>
      <div class="col-footer">
        <h3>
          Ayuda
          <div class="underline"><span></span></div>
        </h3>
        <ul class="links-footer">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Tienda</a></li>
        </ul>
      </div>
      <div class="col-footer">
        <h3>
          Ayuda
          <div class="underline"><span></span></div>
        </h3>
        <ul class="links-footer">
          <li><a href="#">Soporte</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
      <div class="col-footer">
        <h3>
          Compañia
          <div class="underline"><span></span></div>
        </h3>
        <ul class="links-footer">
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="#">Contacta con nosotros</a></li>
          <li><a href="#">Novedades</a></li>
          <li><a href="#">Terminos y condiciones</a></li>
        </ul>
      </div>
      <!-- <div class="col-footer">
        <h3>
          Boletín de noticias
          <div class="underline"><span></span></div>
        </h3>
        <form class="news-mail">
          <i class="fa-regular fa-envelope"></i>
          <input type="email" placeholder="Ingrese su correo" required />
          <button type="submit">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </form>
        <div class="social-icons">
          <a href="#" target="_blank"
            ><i class="fa-brands fa-snapchat"></i
          ></a>
          <a href="#" target="_blank"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a href="#" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="#" target="_blank"
            ><i class="fa-brands fa-pinterest-p"></i
          ></a>
          <a href="#" target="_blank"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
          <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div> -->
    </div>
    <hr />
    <p class="copyright">Zzootec © 2022 - All Rights Reserved</p>
  </footer>