<div class="container">
  <mat-card class="mt-20">
    <div class="row">
      <div class="col-md-12">
        <mat-card-header>
          <mat-card-title> Bienvenido administrador </mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>Panel de administrador</mat-card-subtitle>
        <mat-card-content class="ml-3">
          <h1></h1>
          <p></p>
          <mat-divider></mat-divider>
          <br />
          <h1>Sus funciones :</h1>
          <ul>
            <li>Gestionar los productos</li>
            <li>Gestionar los usuarios</li>
            <li>Asignar los productos a distintas categorias</li>
            <li>Visualizar las ordenes por parte de los clientes</li>
          </ul>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
