<section
  class="banner"
  style="
    background-image: url(./assets/img/ico/fondo1.jpg);
    background-size: cover;
    background-position: center;
  "
>
  <div class="seccion">
    <div class="seccion-title">
      <h2>Contáctanos</h2>
      <p>
        ¿Necesita ponerse en contacto con nosotros? Rellene el formulario con su
        consulta o busque el teléfono o el correo electrónico del departamento
        con el que desea ponerse en contacto.
      </p>
    </div>
    <div class="seccion-contenedor-form">
      <img class="principal" src="./assets/img/ico/contactanos.png" />
      <div class="seccion-form">
        <form class="form" action="">
          <input
            type="text"
            id="nombre"
            class="form-input"
            placeholder="*Nombre"
          />

          <input
            type="email"
            id="correo"
            class="form-input"
            placeholder="*Correo"
          />

          <input
            type="number"
            id="numero"
            class="form-input"
            placeholder="*Telefono"
          />

          <textarea
            id="mensaje"
            class="form-input"
            placeholder="*Mensaje"
          ></textarea>

          <!-- <input
            type="submit"
            class="btn-submit"
            value="Contáctate con nosotros ahora"
            class="button"
          /> -->
          <button mat-raised-button color="primary" type="submit" style="width: 100%;">Contáctate con nosotros ahora</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section></section>
