<div class="container-fluid my-5 py-5 height-content-page">
    <div class="container text-center my-5">
      <h1>Gracias</h1>
      <p class="lead w-lg-50 mx-auto">Su pedido ha sido realizado con éxito.</p>
      <p class="w-lg-50 mx-auto">Su numero de pedido es <a href="#">9237427634826</a>. Procesaremos inmediatamente su pedido y
        será entregado en 2 - 5 días hábiles.</p>
      <button type="button" mat-raised-button color="primary" (click)="goBackToHome()">Volver al inicio</button>
    </div>
  </div>