<div class="container-fluid">
  <mat-toolbar>
    <span>Facturas</span>
    <div class="example-spacer"></div>
    <button
      mat-raised-button
      color="primary"
      class="me-2"
      (click)="generarPDF()"
    >
      <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
      Generar PDF
    </button>
    <button
      mat-raised-button
      color="primary"
      class="me-2"
      (click)="generarExcel()"
    >
      <mat-icon mat-list-icon>description</mat-icon>
      Generar EXCEL
    </button>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/dashboard/crearFactura']"
    >
      <mat-icon mat-list-icon>add_circle_outline</mat-icon>
      AGREGAR
    </button>
  </mat-toolbar>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ejemplo. Factura..."
        #input
        autocomplete="off"
      />
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="observacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Observacion</th>
          <td mat-cell *matCellDef="let element">{{ element.observacion }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fechaCreacion | date: 'dd/MM/yyyy HH:MM:SS' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
          <td mat-cell *matCellDef="let element">
            {{ element.usuario.nombre }} {{ element.usuario.apellido }}
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
              <mat-icon
                routerLink="/dashboard/verFactura/{{ element.id }}"
                style="cursor: pointer"
                matTooltip="Ver detalle"
                fontIcon="search"
                >Ver detalles</mat-icon
              >
            </button>

            <button
              color="primary"
              mat-raised-button
              [matMenuTriggerFor]="beforeMenu"
            >
            <mat-icon mat-list-icon>description</mat-icon> Generar reporte
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
              <button mat-menu-item (click)="generarPDFDeFactura(element.id)"> PDF</button>
              <button mat-menu-item (click)="generarExcelDeFactura(element.id)">EXCEL</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 25, 100]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
