<div class="container-fluid">
  <mat-toolbar>
    <span>Clientes</span>
    <div class="example-spacer"></div>
    <button
      mat-raised-button
      color="primary"
      class="me-2"
      (click)="generarPDF()"
    >
      <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
      Generar PDF
    </button>
    <button
      mat-raised-button
      color="primary"
      class="me-2"
      (click)="generarExcel()"
    >
      <mat-icon mat-list-icon>description</mat-icon>
      Generar EXCEL
    </button>
    <button
      mat-raised-button
      color="primary"
      routerLink="/dashboard/agregarCliente"
    >
      AGREGAR
    </button>
  </mat-toolbar>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ejemplo. Pedro"
        #input
        autocomplete="off"
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <ng-container matColumnDef="nombres">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nombre }} {{ element.apellido }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
          <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <mat-icon
              routerLink="/dashboard/verCliente/{{ element.id }}"
              matTooltip="Ver"
              class="search"
              fontIcon="search"
            ></mat-icon>
            <mat-icon
              routerLink="/dashboard/editarCliente/{{ element.id }}"
              matTooltip="Editar"
              class="edit"
              fontIcon="edit"
            ></mat-icon>
            <mat-icon
              (click)="eliminarUsuario(element.id)"
              matTooltip="Eliminar"
              class="delete"
              fontIcon="delete"
            ></mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 25, 100]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
